* {
    font-family: 'Lato', sans-serif;
    color: white;
}

.main {
    width: 100%;
    height: 100%;
    background-image: url("/static/im/b5.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.main2 {
    background: linear-gradient(60deg, #ceced380 0%, #2d51f06c 100%);
}

.nabar {
    margin-top: 0px;
    width: 100%;
    height: 55px;
    background: transparent;
}

.nabar p {
    background-color: transparent;
    margin-top: 10px;
    margin-left: 90px;
    font-size: 23px;
    float: left;
    color: white;
    font-weight: bold;
}

.nabar p label {
    margin-right: 13px;
    color: white;
}


/*menu*/

.men {
    margin-top: 13px;
    margin-left: 680px;
    width: 310px;
    height: 40px;
    background-color: transparent;
    float: left;
    text-align: center;
}

.men a {
    margin-left: 34px;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    color: white;
}


/* book deatils */

.bookdeta {
    width: 100%;
    height: 600px;
    background: transparent;
}

.bookpic {
    float: left;
    width: 275px;
    height: 355px;
    background-color: aliceblue;
    margin-top: 100px;
    margin-left: 90px;
    border: 2px white solid;
    border-radius: 10px;
}

.bookpic img {
    margin: 2px;
    width: 270px;
    height: 350px;
}

.deta {
    float: left;
    width: 460px;
    height: 320px;
    background-color: rgba(240, 248, 255, 0);
    margin-left: 90px;
    margin-top: 110px;
}

.deta h3 {
    font-size: 25px;
}

.deta p {
    word-spacing: 6px;
    font-size: 20px;
}

.bookdeta button {
    padding: 7px;
    margin-top: 60px;
    margin-left: 160px;
    font-weight: bold;
    background-color: royalblue;
    width: 150px;
    height: 40px;
    color: whitesmoke;
}


/* cooment - view */

.comm {
    width: 100%;
    height: 900px;
    background: transparent;
}

.comm h2 {
    margin-top: 32px;
}

.comm-box {
    margin-top: 49px;
    width: 1000px;
    height: 290px;
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    border: 3px #0731eb6c solid;
    border-radius: 35px;
    background: linear-gradient(60deg, #ceced380 0%, #6982f06c 100%);
}

::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
}

.sli {
    display: inline-block;
    margin-top: 30px;
    margin-right: 17px;
    margin-left: 20px;
    height: 220px;
    width: 450px;
    background: linear-gradient(60deg, #ceced380 0%, #0731eb6c 100%);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    text-align: left;
    border: 2px black solid;
    border-radius: 18px;
}

.sli h4 {
    font-size: 18px;
    margin-left: 10px;
}

.sli p {
    font-size: 17px;
    margin-left: 16px;
}

.date {
    margin-top: 20px;
    text-align: right;
    font-size: 13px;
    margin-right: 12px;
}

.hr1 {
    margin-top: 25px;
}


/*cooment - type*/

.comm-ty {
    width: 450px;
    height: 350px;
    margin-top: 60px;
    border: 3px rgb(0, 0, 0) solid;
    border-radius: 35px;
    background: linear-gradient(60deg, #ceced380 0%, #0731eb6c 100%);
}

input:focus {
    outline: none;
}

.usname {
    margin-top: 60px;
    height: 24px;
    width: 200px;
    border: none;
    border-bottom: 1px black solid;
    background: transparent;
    font-size: 15px;
    text-align: center;
}

.usname::placeholder {
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
    pointer-events: none;
}

.emai {
    margin-top: 20px;
    height: 24px;
    width: 200px;
    border: none;
    border-bottom: 1px black solid;
    background: transparent;
    text-align: center;
}

.emai::placeholder {
    color: white;
    font-size: 14px;
    font-weight: bold;
    pointer-events: none;
    text-align: center;
}

.com-body {
    margin-top: 30px;
    width: 250px;
    height: 60px;
    resize: none;
    background: transparent;
    font-size: 17px;
    border: 1px black solid;
    border-radius: 8px;
    text-align: center;
    padding: 4px;
}

.com-body::placeholder {
    color: white;
    font-size: 14px;
    font-weight: bold;
    pointer-events: none;
    text-align: center;
}

button {
    margin-top: 20px;
    width: 90px;
    height: 35px;
    font-size: 16px;
    border-radius: 16px;
    background-color: rgba(245, 245, 245, 0.397);
}


/* condact*/

.condact {
    display: flex;
    width: 100%;
    height: 350px;
    background: rgba(0, 0, 0, 0.322);
    padding-top: 6px;
}

.time {
    margin-top: 30px;
    margin-left: 80px;
    width: 400px;
    float: left;
    height: 230px;
    background-color: transparent;
    text-align: left;
    padding-top: 6px;
}

.time h3 {
    font-size: 25px;
}

.time p {
    font-size: 17px;
}


/*SOCIAL ICON*/

.con {
    margin-top: 30px;
    margin-left: 85px;
    float: left;
    width: 350px;
    height: 230px;
    background-color: rgba(219, 75, 75, 0);
    font-family: 'Lato', sans-serif;
    padding-top: 6px;
}

.con h3 {
    font-size: 25px;
}

.con p {
    font-size: 17px;
    line-height: 27px;
}

.soci-media {
    padding-top: 6px;
    margin-top: 30px;
    margin-left: 20px;
    float: left;
    width: 400px;
    height: 230px;
    background-color: #9719eb00;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.soci-media h3 {
    font-size: 25px;
}

.soci-media p {
    font-size: 17px;
    line-height: 27px;
}

.fa {
    margin-top: 13px;
    margin: 10px;
    padding-left: 8px;
    text-decoration: none;
}


/*.fa-facebook {}

.fa-twitter {}

.fa-youtube {}

.fa-instagram {}

.fa-whatsapp {}*/


/* serach fail */

.not {
    border: 3px black solid;
    border-radius: 35px;
    width: 650px;
    height: 300px;
    margin-left: 350px;
    background: linear-gradient(60deg, #0505c4af 0%, #0426beb0 100%);
}

.not h3 {
    font-size: 25px;
    color: rgba(255, 0, 0, 0.699);
    margin-top: 70px;
}