<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lib.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="main">
        <div class="main2">
            <h2></h2>
        </div>

        <div class="header">
            <div class="men"><a href="">About</a>
                <a href="#booksec">Books</a>
                <a href="#search">Search</a>
                <a href="#cond">Condact</a>
            </div>
            <!--Content before waves-->
            <div class="inner-header flex">
                <!--Just the logo.. Don't mind this-->

                <h1 class="g1">WELLCOME TO BOOK OCEAN</h1>

            </div>
            <div class="anima">
                <h1 class="mt-auto mb-2" id="anihead">
                    Read
                    <div class="animated-info">
                        <span class="animated-item">The Books</span>
                        <span class="animated-item">Knowledge</span>
                        <span class="animated-item">The World</span>
                    </div>
                </h1>
            </div>
            <!--Waves Container-->
            <div>
                <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="#ceced3" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="#0a9705" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="#ceced3" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#0a9705" />
        <!--<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7)" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />-->
        
        </g>
        </svg>

            </div>
            <!--Waves end-->
            <!--search-->
            <div class="content flex">

                <div id="maine">
                    <span id="maine2"><input id ="input" type ="text" placeholder = "Search"> 
                    <i id ="search " class="fa fa-search"></i></span></div>
            </div>
        </div>
        <!--Header ends-->

        <!--Content starts-->

        <div class="prob" id="booksec">

            <div class="scrolling-wrapper">
                <center>
                    {% for i in book %}
                    <a href="product?id={{i.id}}">
                        <div class="card">
                            <img src="{{i.b_image.url}}">
                            <p class="name">{{i.b_name}}</p>
                            <p> {{i.b_author}}</p>
                        </div>
                    </a>
                    {% endfor %}
                </center>
            </div>
        </div>
        <footer>
            <div class="contact" id="cond">
                <div class="time">
                    <h3>Working Time</h3>
                    <p>Monday to friday &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8.30 AM to 7.30PM</p>
                    <hr>
                    <p>Saturday &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8.30 AM to 1.30PM</p>
                    <hr>
                    <p>Sunday &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Closed</p>

                </div>
                <div class="con">
                    <h3>Address Line</h3>
                    <p>3rd Floor, Management Building,<br>Vidyavihar Campus, Vidyavihar<br> Mumbai,Maharashtra 421201<br>LandLine : 07232,091-2141<br> Mobile : 7215483612</p>
                </div>
                <div class="soci-media">
                    <h3>Socials</h3>
                    <a href="#" class="fa fa-facebook" style="font-size:40px;"></a>
                    <a href="#" class="fa fa-twitter" style="font-size:40px;"></a>
                    <a href="#" class="fa fa-youtube" style="font-size:40px;"></a>
                    <a href="#" class="fa fa-instagram" style="font-size:40px;"></a>
                    <a href="#" class="fa fa-whatsapp" style="font-size:40px;"></a>
                    <p>Copyright © 2022 All Rights<br> Reserved By Bookozone</p>
                </div>
            </div>
        </footer>
    </div>

    <!--Content ends-->
</body>

</html>